@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?6s6d3k');
    src:    url('../fonts/icomoon.eot?6s6d3k#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?6s6d3k') format('truetype'),
        url('../fonts/icomoon.woff?6s6d3k') format('woff'),
        url('../fonts/icomoon.svg?6s6d3k#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
 /* Better Font Rendering =========== */
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}
.icon-envelope:before {
    content: "\e900";
}
.icon-phone:before {
    content: "\e901";
}
.icon-menu:before {
    content: "\e902";
}
.icon-close:before {
    content: "\e903";
}
/*   solo para configurar la pagina de informacion  */
body {
  font-family: 'Allerta', sans-serif;
  margin: 0;
}


article p{
  margin-left:  40px;
  margin-right: 15px;
  padding-right: 90px;
  padding-left: 20px;
  text-align: justify;
}
article h2{
  text-align: center;
  border-radius: 12px;
  border: none;
  color: white;
  padding: 7px 12px;
  cursor: pointer;
  text-decoration: none;
  font-size: 18px;
  background: #fd324e;
  background: linear-gradient(to left, #fe344e, #ff7250);
}
article h3{
margin-left: 20px;
}
article ul li{
  margin-left: 50px ;
  padding-left: 20px;
  text-align: justify;
 }
 article span{
  text-decoration: underline;
  color: red;
 }
/* TIPOGRAFIA PARA EL CUERPO  html   */  

/*    TABLA DE URBANO  */
table {
  width: 100%;
}
th {
   background: #273b47;  
  color: white;
}
th {
  padding: 10px 20px;
  text-align: left;
}
td {
  padding: 20px;
}
table, td, th {
  border: 1px solid #273b47;
  border-collapse: collapse;
}
input, textarea {
  outline: 0;
}
input:focus, textarea:focus {
  background: lightgray;
}
/*   finde la tabla  */
.contenedor {   /* contenedor de  800 */
  max-width: 800px;
  margin: auto;
  position: relative;
}
.background {   /*   imagen del guacamayo  como header  */
  background-color: #466173;
  background-image: url('../images/header.png');
  background-size: cover;
}
.button {   /* boton de  CONOCE MÁS */
  border-radius: 12px;
  border: none;
  color: white;
  padding: 7px 12px;
  cursor: pointer;
  text-decoration: none;
  font-size: 18px;
  background: #fd324e;
  background: linear-gradient(to left, #fe344e, #ff7250);
 }
.titulo {   /* Iquitos Jungle Club */ 
  font-family: 'Montserrat', sans-serif;
  font-size: 70px;
   /* margin-top: 30px;    */
  margin-bottom: 0;
  margin-top: 70px;
 color: yellow;
}
.titulo span {
  text-decoration: underline;   /* linea de Iquitos  */
}
.title-a {   /*  borde de titulo  Ven y diviertete   */
  font-size: 20px;
  /*margin-top: auto;*/
  background-color: orange;
  padding: 0;
  text-align: center;
  border-radius: 12px;
  text-decoration: none;
  background: linear-gradient(to left, orange, cyan);
 }
.title-b {  /* turismo aventura y urbano */
  font-size: 50px;
  margin-bottom: 20px;
 }
.isla{
  color: #1F313C;
  margin-bottom: 60px;
 /* background-color: blue;   /*  para saber que es*/
}
.isla h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 35px;
}
.portada {  /* contenedor y da color a titulo Ven y diviertete */
  color: white;
  padding: 20px;
  height: 500px;
}
.menu {
  font-size: 24px;
  display: inline-block;
  position: absolute;
  right: 0;
}
.menu li {
  display: inline-block;
  margin-left: 30px;
}
.menu li:before{
 /* content: '∘';  */     /* icono en el menu */ 
  font-size: 50px;
  line-height: 20px;
  color: white;
}
.menu a {
  color: white;
  text-decoration: none;
}
.logotipo {
  display: inline-block;
  margin-left: 0;
}
.urba-campo {
  margin: 10px 10px 60px 10px;
  padding: 10px;
  /*overflow: hidden;*/
  border: 1px solid #1F313C;
  border-radius: 8px;
 /* background-color: green;   /*    para saber que modifica  */
}
.ciudad ol {
  padding: 0;
}
.ciudad.b {
  height: 190px;
}
.derecha{
  float: right;
  position: relative;
  top: 6px;
}
.izquierda {
  float: left;
  position: relative;
  top: 13px;
}
.contenedor-ciudad-a {
  padding-left: 20px;
}
.contenedor-ciudad-b {
  margin-left: 370px;
  position: relative;
  bottom: 31px;
}
.header {
  position: relative;
}
.footer a{
  color: peru;
  text-decoration: none;
} 
.footer{
  background: #036564;
  padding: 14px 10px;
}
.contacto {
  display: flex;
  width: 300px;
  /*display: flexbox;  */
  align-items: center;
}
/*  para contacto */
 
.contacto img {
  display: block;
  width: 80%;  
}
.contacto strong {
  display: block;
}
.contacto a {
  color: white;
  text-decoration: none;
  margin: 10px 10px 10px 0;
}
.footer .contenedor {
  display: flex;
  justify-content: space-between;
}
.tabla {
  margin: 50px 0;
}
.burguer-button {
  width: 40px;
  border-radius: 50%;
  line-height: 40px;
  height: 40px;
  background: #395667;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  position: fixed;
  left: 20px;
  top: 20px;
  color: white;
  z-index: 3;
  display: none;
}
.video-demo {
  max-width: 560px;
  width: 100%;
  border: 6px solid #3c5b6e;
}
.video-demo-contenedor {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}

@media screen and (max-width: 800px) {
   /* precios */
  .tabla {
    margin: 50px 20px;
  }
  .tabla .contenedor {
    overflow: auto;
    border: 1px solid #273b47;
  }
  /* precios */
  /* portada */
  .titulo {
    font-size: 45px;
    margin-top: 30px;
  }
  .title-a {
    font-size: 18px;
  }
  .portada {
    height: auto;
  }
  .portada .button {
    margin-bottom: 30px;
    display: inline-block;
  }
  /* portada */
  /* urbano y campo */
  .video-demo-contenedor {
    margin-bottom: 20px;
  }
  .isla {
    text-align:center;
  }
  .izquierda, .derecha {
    float: none;
    position: static;
  }
  .title-b {
    margin: 0;
  }
  .isla li {
    list-style: none;
  }
  .ciudad.b {       /*  PARA REVISAR CON MAYOR DETALLE  */
    height: auto;
  } 
  .contenedor-ciudad-b {
    position: static;
    margin: 0;
  }
  .contenedor-ciudad-a {
    padding: 0;
  }
  /* ciudad urbano  y campo*/
}
@media screen and (max-width: 767px) {   /*  max-width:767px  */ 
/*  arituculo de la pagina de informacion  */
article p{
  margin-left:  2px;
  margin-right: 1px;
  padding-right: 0;
  padding-left: 5px;
  text-align: justify;
}
article h2{
   width: 100%
  text-align: center;
  border-radius: 12px;
  border: none;
  color: white;
  padding: 1px 8px;
  cursor: pointer;
  text-decoration: none;
  font-size: 18px;
  background: #fd324e;
  background: linear-gradient(to left, #fe344e, #ff7250);
}
article h3{
margin-left: 2px;
padding: 0;
}
article ul li{
  margin-left: 1px;
  padding-left: 0px;
  text-align: justify;
}/* fin del articulo de pagina de información  */
  /* footer */
  .footer .contenedor {
    display: block;
  }
  .contacto {
    margin: 0 auto;
    display: block;
  }
  .contacto a{
    display: block;
  }
  .formulario {
    display: block;
    margin: 0 auto;
    width: 300px;
  }
  .sexo label {
    display: block;
  }
  .formulario label{
    font-size: 20px;
  }

  .intereses label {
    display: block;
    font-size: 20px;
  }
  .col1 {
    margin: 0;
  }
  input[type="text"]{
    margin-bottom: 30px;
  }
  input[type="text"],
  input[type="email"] {
    font-size: 16px;
    padding: 5px;
  }
  textarea {
    width: 100%;
  }
  input[type="radio"],
  input[type="checkbox"] {
    zoom: 1.5;
  }
  /* footer */
}
@media screen and (max-width: 650px) {
  .header {
    text-align: center;
  }
  .logotipo {
    margin: 0;
  }
  .menu {
    position: static;
    display: block;
  }
  .menu li:first-child {
    margin: 0;
  }
  .menu ul {
    padding: 0;
  }
}

@media screen and (max-width: 500px) {

article p{        /*   SOLO PARA LA PAGINA DE INFORMACION  EL ARTICULO  */
  margin-left:  2px;
  margin-right: 1px;
  padding-right: 0;
  padding-left: 5px;
  text-align: justify;
}
article h2{
  text-align: center;
  border-radius: 12px;
  border: none;
  color: white;
  padding: 1px 8px;
  cursor: pointer;
  text-decoration: none;
  font-size: 18px;
  background: #fd324e;
  background: linear-gradient(to left, #fe344e, #ff7250);
}
article h3{

margin-left: 2px;
padding: 0;
}
article ul li{
  margin-left: -12px;
  padding-left: 0;
  text-align: justify;
}  /*  FIN DEL ARTICULO DE LA PAGINA DE INFORMACION  */ 
   /* portada */
  .portada .button {
    display: block;
  }
  .precios .header .logotipo {
    margin: 50px 0;
    margin-top: 60px;
    padding-top: 46px;
  }
  .burguer-button {
    display: block;
  }
  .portada .contenedor {
    position: static;
  }
  .header {
    position: static;
  }
  .header .contenedor {
    position: static;
  }
  .menu {
    background: rgba(255, 60, 88, .8);
    position: fixed;
    left: -100%;
    top: 0;
    z-index: 2;
    bottom: 0;
    right: 0;
    display: flex;
    width: 100%;
    align-items: center;
    transition: .3s;
  }
  .menu.active {
    left: 0;
  }
  .menu ul {
    flex: 1;
  }
  .menu li {
    display: block;
    margin: 0;
    padding: 8px 0;
    border-bottom: 1px solid white;
  }
  .menu li:before {
    display: none;
  }

  .menu li:first-child {
    border-top: 1px solid white;
  }
  .portada {
    text-align: center;
  }
  .titulo {
    font-size: 30px;
  }

  .title {
    font-size: 16px
  }
  /* portada */
  /* isla contenedor  */
  .urba-campo img {
    width: 300px;
    /*height: auto;*/
  }
  .title-b {
    font-size: 30px;
  }
   .video-demo-contenedor {
    margin: 0 15px 35px 10px;
  }
video {
  width: 100%;
}
.video-responsive-contenedor {
  position: relative;
  padding-top: 56.25%;
}
.video-responsive-src {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .background {
    background-image: url('../images/header.png');
  }
  }
}
